.process-labs {
  .sub-navigation {
    background: $process-color;
  }
}

.sub-navigation {
  background: $primary-color;
  z-index: 999;

  &.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .sub-navigation-inner {
    @include outer-container();
    height: $navigation-height;
  }

  nav {
    float: left;
    width: 100%;

    @include media($brk-gt-m) {
      width: 40%;
    }

    ul {
      @include clearfix;
      margin: 0;
      padding: 0;

      li {
        float: left;
        list-style: none;

        a {
          color: $white-color;
          display: inline-block;
          padding: 0 rem(20);
          line-height: $navigation-height;
          transition: all .4s ease-in-out;

          &:hover {
            background-color: $white-color;
            color: $primary-color;
          }
        }

        &.active a {
          background: $white-color;
          color: $primary-color;
        }
      }
    }
  }

  .sub-nav-newsletter {
    display: none;
    float: right;
    text-align: right;
    width: 60%;

    @include media($brk-gt-m) {
      display: block;
    }

    label {
      color: $white-color;
      font-size: 15px;
      margin-right: rem(10);
    }

    input[type="email"] {
      background-image: url('images/icons/icon-email.svg');
      font-size: 15px;
      width: rem(242);
    }

    input[type="submit"] {
      background: $text-color;
      color: $white-color;
      font-size: 14px;
      width: rem(100);
      margin-left: -5px;
    }
  }
}